.moviesSection {
  width: 100%;
  @include background-style;
  min-height: calc(92vh + 4rem);
}

.infiniteScrollContainer {
  margin: 0 auto;
  padding: 1rem;
  @media screen and (min-width: 768px) {
    width: 80%;
  }
  @media screen and (min-width: 1024px) {
    width: 70%;
  }
}

.movieCard {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
