
.favouritesPage {
  padding: 2rem;
  width: 100%;
  @include background-style;
  height: auto;
  min-height: 92vh;
}

.moviesSection {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

.masonryContainer {
  width: 100%;
  margin: 0 auto;
}