
.footer {
  background-color: #313131;
  color: #555555;
  text-align: center;
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link {
  color: #555555;
  text-decoration: underline;
}